<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mos.AI - электричество</title>
    {% load staticfiles %}
    {% block head %} {% include 'Account/head.html' %} {% endblock %}
</head>
<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        {% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
        {% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Прогноз показаний</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Личный кабинет</a></li>
                        <li class="breadcrumb-item active">Прогноз показаний</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap">
                                            <div>
                                                <h4 class="card-title">Счетчики электричества</h4>
                                            </div>
                                            <div class="ml-auto">
                                                <ul class="list-inline">
                                                    <li>
                                                        <h6 class="text-dark"><i class="fa fa-circle font-10 m-r-10 "></i>Ночь</h6> </li>
                                                    <li>
                                                        <h6 class="text-warning"><i class="fa fa-circle font-10 m-r-10"></i>Пик</h6> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div id="earning" style="height: 409px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xlg-3">
                        <div class="card card-inverse card-warning">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="m-r-20 align-self-center">
                                        <h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                                    <div>
                                        <h3 class="card-title">Среднее показание потребления электричества (пик) в месяц</font></h3>
                                        <h6 class="card-subtitle">2018</h6> </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 align-self-center">
                                        <h2 class="font-light text-white">80.54</h2>
                                    </div>
                                    <div class="col-6 p-t-10 p-b-20 text-right">
                                        <div class="spark-count2" style="height:65px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-inverse card-success">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="m-r-20 align-self-center">
                                        <h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                                    <div>
                                        <h3 class="card-title"><font color = "black">Среднее показание потребления электричества (ночь) в месяц</font></h3>
                                        <h6 class="card-subtitle"><font color = "black">2018</font></h6> </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 align-self-center">
                                        <h2 class="font-light text-white">30.00</h2>
                                    </div>
                                    <div class="col-6 p-t-10 p-b-20 text-right align-self-center">
                                        <div class="spark-count2" style="height:65px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Данные</h4>
                                <h6 class="card-subtitle">Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="example23" class="display nowrap table table-hover table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>       </th>
                                                <th>12.2017</th>
                                                <th>01.2018</th>
                                                <th>02.2018</th>
                                                <th>03.2018</th>
                                                <th>04.2018</th>
                                                <th>05.2018</th>
                                                <th>06.2018</th>
                                                <th>07.2018</th>
                                                <th>08.2018</th>
                                                <th>09.2018</th>
                                                <th>10.2018</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Пик</th>
                                                <td>83</td>
                                                <td>98</td>
                                                <td>145</td>
                                                <td>95</td>
                                                <td>51</td>
                                                <td>58</td>
                                                <td>112</td>
                                                <td>54</td>
                                                <td>79</td>
                                                <td>56</td>
                                                <td>55</td>
                                            </tr>
                                            <tr>
                                                <th>Ночь</th>
                                                <td>31</td>
                                                <td>29</td>
                                                <td>47</td>
                                                <td>28</td>
                                                <td>24</td>
                                                <td>20</td>
                                                <td>44</td>
                                                <td>21</td>
                                                <td>33</td>
                                                <td>32</td>
                                                <td>21</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Row -->
                {% block rightSideBar %} {% include 'Account/rightSideBar.html' %} {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'frontPage/js/dashboard11.js' %}"></script>
    {% block scripts %} {% include 'Account/scripts.html' %} {% endblock %}
</body>
</html>