<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mos.AI - электричество</title>
    {% load staticfiles %}
    {% block head %} {% include 'Account/head.html' %} {% endblock %}

<style>
    .marginleft{
        margin-left: 10%;
        margin-right: 5%;
    }
</style>

</head>
<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        {% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
        {% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}
           <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor"><font size = "">Настройки</font></h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Личный кабинет</a></li>
                        <li class="breadcrumb-item active">Настройки</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>

            <div class = "row marginleft">
                <div class="col-lg-3 col-xlg-2 m-b-30">
                    <form>
                        <h2>Сменить пароль</h2>
                         {% for field in changePass %}
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="Submit" class="btn btn-info">Сменить пароль</button>
                    </form>
                    <br /> <br />
                     <form>
                        <h2>Изменить Email</h2>
                        {% for field in changeMail %}
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="Submit" class="btn btn-info">Изменить Email</button>
                    </form>
                </div>
                <div class="col-lg-3 col-xlg-2 m-b-1000">
                    <form method="post" action="/account/changeStandartInfo/">
                        {% csrf_token %}
                        <h2>Изменить стандартную информацию</h2>
                         {% for field in defUserInfo %}
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% for error in defUserInfo.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </div>
                            {% endfor %}
                            {% for error in defUserInfoErrors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </div>
                        {% endfor %}
                        <button type="Submit" class="btn btn-info">Отправить</button>
                    </form>
                </div>
                <div class="col-lg-3 col-xlg-2 m-b-1000">
                    <br />
                    <form method="POST" action="/account/changeExtendedInfo/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2>Изменить расширенную информацию</h2>
                         {% for field in extUserInfo %}
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% for error in extUserInfo.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </div>
                            {% endfor %}
                            {% for error in extUserInfoErrors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-info">Отправить</button>
                    </form>
                </div>
            </div>

            {% block rightSideBar %} {% include 'Account/rightSideBar.html' %} {% endblock %}
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
{% block scripts %} {% include 'Account/scripts.html' %} {% endblock %}
</body>
</html>