{% load staticfiles %}
{% block featuser %}
<!-- Top Articles START -->
<div class="section-block" id="overview">
	<div class="container">
		<div class="section-heading center-holder">
			<h2>Преимущества и особенности нашего сервиса</h2>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUpSm" data-wow-delay=".1s">
				<article class="service-article clearfix">
					<div class="article-icon">
						<i class="icon-smartphone-10"></i>
					</div>
					<div class="article-text">
						<h3>Современный дизайн</h3>
						<p>Интуитивно понятный и адаптированный для мобильных устройств интерфейс</p>
					</div>
				</article>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUpSm" data-wow-delay=".3s">
				<article class="service-article clearfix">
					<div class="article-icon">
						<i class="icon-thinking-head"></i>
					</div>
					<div class="article-text">
						<h3>Предсказание данных</h3>
						<p>Сервис поможет планировать бюджет, предсказывая показания счётчиков</p>
					</div>
				</article>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUpSm" data-wow-delay=".5s">
				<article class="service-article clearfix">
					<div class="article-icon">
						<i class="icon-credit-card"></i>
					</div>
					<div class="article-text">
						<h3>Внешний API</h3>
						<p>Позволяет взаимодействовать с "умными" счётчиками, улучшая точность предсказаний</p>
					</div>
				</article>
			</div>

		</div>
	</div>
</div>
<!-- Top Articles END -->

{% endblock %}