{% load staticfiles %}

{% block feedback %}
<div id="otz">
	<div class="section-block-parallax" style="background-image: url({% static 'LandPage/img/logos/background_blue.png' %});">
		<div class="container">
			<div class="section-heading white-color center-holder">
				<h2> Отзывы пользователей</h2>
				<p>Ждём Ваши отзывы и предложения на почту <br> mail@mos-ai.ru</p>
			</div>
			<br /> <br />
			<div class="owl-carousel owl-theme" id="testmonials">
				<div class="testmonial-block clearfix">
					<div class="testmonial-img">
						<img src="{% static 'LandPage/img/logos/alena.jpg' %}" alt="testmonial-img">
					</div>
					<div class="testmonial-text">
						<div class="ml-15">
							<span><font color="black">Педагог</font></span>
							<strong>Алёна Елисова</font></strong>
							<p>Сервис удобен и прост в использовании, он стал настоящим помощником для меня.
							Теперь трата времени на ежемесячное заполнение бланков показаний ЖКХ стала намного меньше.
								Не надо даже выходить из дома!
								Очень понравилась функция прогноза показаний.
								Спасибо!
							</p>
						</div>
					</div>
				</div>

				<div class="testmonial-block clearfix">
					<div class="testmonial-img">
						<img src="{% static 'LandPage/img/logos/vera.jpg' %}" alt="testmonial-img">
					</div>
					<div class="testmonial-text">
						<div class="ml-15">
							<span><font color="black">Педагог</font></span>
							<strong>Вера Кочергина</strong>
							<p>Согласитесь, очень удобно получать сообщение о том, что нужно оплатить ЖКХ, особенно для тех, кто много работает.
							Этот сервис упрощает жизнь, оптимизируя время, которое обычно мы тратим на подсчет, перенос показателей
								и множество других действий.
							Приятный дизайн, качественный frontend, удобный интерфейс.</p>
						</div>
					</div>
				</div>

				<div class="testmonial-block clearfix">
					<div class="testmonial-img">
						<img src="{% static 'LandPage/img/logos/liza.jpg' %}" alt="testmonial-img">
					</div>
					<div class="testmonial-text">
						<div class="ml-15">
							<span><font color="black">Педагог</font></span>
							<strong>Елизавета Деревцова</strong>
							<p>Интерфейс сайта очень удобен, все понятно и лаконично. Теперь у меня не уходит много
								времени на передачу показаний, и можно не отвлекаться на это. До того, как
								начать пользоваться этим сервисом, я часто забывала передать показания. Благодаря
								этому сервису, ситуация поменялась в лучшую сторону.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Testmonials END -->
</div>
{% endblock %}