{% load staticfiles %}
{% block footer %}

<!-- Footer START -->
<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<!-- Col 1 Start -->
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="footer-column-1">
						<div class="white-color mt-20">
								<h1>Mos.AI</h1>
						</div>
					</div>
				</div>
				<!-- Col 1 End -->

				<!-- Col 2 Start -->
				<div class="col-md-3 col-sm-12 col-xs-12  col-md-offset-1">
					<div class="white-color mt-20">
						<p><a href = "/login" style="color:white">Войти</a></p>
						<p><a href = "/register" style="color:white">Регистрация</a></p>
						<p><i class="fa fa-envelope-o"></i> Обратная связь: mail@mos-ai.ru</p>
					</div>
				</div>
				<!--Col 2 End -->

				<!-- Col 3 Start -->
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="white-color mt-20">
								<p><i class="fa fa-map-marker"></i> Образовательный центр "Сириус" <br>г. Сочи, Олимпийский проспект, 40</p>
					</div>
				</div>
				<!--Col 3 End -->

				<!-- Col 4 Start -->
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="footer-column-heading">
						<h6>Подписка на новости</h6>
					</div>
					<form method="POST" action="/subscribe">
						{% csrf_token %}
						<div class="input-group newsletter-form">
						  <input type="email" name= "mail" placeholder="Your Email">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
						  </span>
						</div>
					</form>
				</div>
				<!-- Col 4 End -->
			</div>
		</div>
	</div>
	<div class="bottom-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="bottom-icons white-color">
						<a href="https://www.facebook.com/PGU.mos.ru/?hc_ref=ARRh1Hq8RPHKCYSa9.." target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/moscow" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="https://www.instagram.com/mosru_official/" target="_blank"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="grey-color right-holder mt-10">
						<p>© Copyright 2018. All Rights reserved</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END -->

{% endblock %}