{% load staticfiles %}

{% block members %}
<!-- Team Members START -->
<div id="team">
	<div class="section-block">
		<div class="container">
			<div class="section-heading center-holder">
				<br />
				<h2>Наша команда</h2>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".1s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/adel.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://vk.com/valiullinadel" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://github.com/valiullin" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://kaggle.com/valiullin" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>
							</div>				
						</div>
						<div class="team-member-name">
							<h4>Адель Валиуллин</h4>	
							<h6>Руководитель проекта</h6>
						</div>						
					</div>				
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".2s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/kostya.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://vk.com/baltsat_official" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://github.com/spred-bred" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.kaggle.com/spredisbread" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>
							</div>				
						</div>
						<div class="team-member-name">
							<h4>Константин Балцат</h4>
							<h6>Москва</h6>
						</div>						
					</div>				
				</div>			

				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".3s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/nikitas.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://vk.com/id439720490" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://gitlab.com/suriknik" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.kaggle.com/suriknik" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>
							</div>				
						</div>
						<div class="team-member-name">
							<h4>Никита Сурначёв</h4>	
							<h6>Симферополь</h6>
						</div>						
					</div>				
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".4s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/senya.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://vk.com/karpovarseniy" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://github.com/jexinox" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.kaggle.com/jexinox" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>
							</div>				
						</div>
						<div class="team-member-name">
							<h4>Арсений Карпов</h4>	
							<h6>Салават</h6>
						</div>						
					</div>				
				</div>	


				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".5s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/nikitaa.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://id501282677" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://github.com/sad0me" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.kaggle.com/sad0me" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>
							</div>				
						</div>
						<div class="team-member-name">
							<h4>Никита Абрамов</h4>	
							<h6>Пенза</h6>
						</div>						
					</div>				
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".6s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/oleg.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://vk.com/pyaive_oleg" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://github.com/pyaiveoleg" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.kaggle.com/pyaiveoleg" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>
							</div>				
						</div>
						<div class=  "team-member-name">
							<h4>Олег Пяйве</h4>
							<h6>Санкт-Петербург</h6>
						</div>						
					</div>			
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".7s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/danil.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://vk.com/id253179671" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://github.com/DanilPechenev04" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.kaggle.com/dankem" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>
							</div>				
						</div>
						<div class="team-member-name">
							<h4>Данил Печенев</h4>	
							<h6>Кемерово
						</div>						
					</div>				
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUpSm" data-wow-delay=".8s">
					<div class="team-member">
						<div class="team-member-image">
							<img src="{% static 'LandPage/img/team/iskander.jpg' %}" alt="member">
							<div class="team-member-overlay">
								<div class="team-member-content">
							<a href="https://vk.com/vagizov98" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://github.com/caprize" target="_blank"><i class="fa fa-github"></i></a>
							<a href="https://www.kaggle.com/caprizebog" target="_blank" style="margin-left:5%;"><b><font color="white">k</font></b></a>
							</div>						
								<!--	<a href="#"><i class="fa fa-facebook-official"></i></a> -->
								</div>
							</div>				
						</div>
						<div class="team-member-name">
							<h4>Искандер Вагизов</h4>	
							<h6>Казань</h6>
						</div>						
					</div>				
				</div>						
			</div>	
		</div>		
	</div>
	<!-- Team Members END -->	
</div>
{% endblock %}