{% load staticfiles %}
{% block slider %}
<!-- Slider START -->
<div class="pogoSlider" id="js-main-slider">

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car4.jpg' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500">Жизнь москвичей стала удобнее</h2>
						<p class="pogoSlider-slide-element hidde" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900">Наша команда разработала новый способ сбора и передачи показаний, <br> который избавит Вас от трудностей, существовавших ранее</p>
						<!-- <a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>	-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car2.jpg' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500">Экономьте время</h2>
						<p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900">Благодаря этому сервису, снятие и передача показаний занимают намного меньше времени, чем раньше</p>
						<!-- <a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>	-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car3.jpg' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500">Экономьте деньги</h2>
						<p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900">Высокая точность прогнозирования показаний позволит не переплачивать и грамотно планировать бюджет</p>
						<!-- <a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>	-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car1.jpg' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500">Начинайте использовать сейчас</h2>
						<p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900">Сервис доступен Вам в любое время</p>
						<a href="/login" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Личный кабинет</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Slider END -->
{% endblock %}