{% load staticfiles %}
{% block slider %}
<!-- Slider START -->
<div class="pogoSlider" id="js-main-slider">

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car4.png' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500"><font color="black">Жизнь москвичей стала удобнее</font></h2>
						<p class="pogoSlider-slide-element hidde" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900"><font color="black">Наша команда разработала новый способ сбора и передачи показаний, <br> который избавит Вас от трудностей, существовавших ранее</font></p>
						<!-- <a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>	-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car2.png' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500"><font color="black">Экономьте время</font></h2>
						<p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900"><font color="black">Благодаря этому сервису, снятие и передача показаний занимают намного меньше времени, чем раньше</font></p>
						<!-- <a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>	-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car3.png' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500"><font color="black">Экономьте деньги</font></h2>
						<p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900"><font color="black">Высокая точность прогнозирования показаний позволит не переплачивать и грамотно планировать бюджет</font></p>
						<!-- <a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Read More</a>	-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pogoSlider-slide" data-transition="fade" data-duration="1000" style="background-image:url({% static 'LandPage/img/logos/car1.png' %});">
		<div class="container">
			<div class="slider-content">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500"><font color="black">Начинайте использовать сейчас</font></h2>
						<p class="pogoSlider-slide-element" data-in="slideRight" data-out="slideUp" data-duration="750" data-delay="900"><font color="black">Сервис доступен Вам в любое время</font></p>
						<a href="#" class="button-lg button-primary mt-30 pogoSlider-slide-element"  data-in="slideRight" data-out="slideDown" data-duration="1150" data-delay="500">Регистрация / <br> Личный кабинет</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Slider END -->
{% endblock %}