{% load staticfiles %}
{% block topbar %}
<!-- Top-Bar START -->
<div id="top-bar" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-xs-12">
				<ul class="top-bar-info">
					<li><i class="fa fa-envelope-o"></i>Обратная связь:  Jkumoscow@gmail.com</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 right-holder hidden-sm">
				<a href="#" class="top-appoinment">Регистрация</a>
			</div>
		</div>
	</div>
</div>
<!-- Top-Bar END -->
{% endblock %}