{% block content %}

<div class = "jumbotron" style="margin-top:0px;padding-top:0">
    <div class = "jumbotron" style="margin-bottom:5%; padding-bottom:0;">
        <center><h2>Авторизация</h2></center>
        <div class = "container text-center shadow-lg desktopPadding rounded formdiv">
            <form method="post" action="/login">
             {% csrf_token %}
              <fieldset>
                  {% for field in form %}
                      <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                      </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary" value="OK">Submit</button>
              </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}