<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset= UTF-8">

        {% load staticfiles %}
		<!-- Website CSS style -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'Register/reg.css' %}" type="text/css"/>
		<title>Восстановление пароля</title>
    </head>
    <body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h1 align="center"> Восстановление пароля </h1>
					<form class="" method="post" action="/changePass">
                    {% csrf_token %}

                    {% for field in form %}
						<div class="form-group">
                            {{ field.label_tag }}
							<div class="cols-sm-10">
								<div class="input-group">
                                    <span></span>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
								</div>
							</div>
						</div>
                    {% endfor %}
                        {% for error in errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endfor %}
                        {% for error in form.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endfor %}
                        <center>
                            <button class="button" style="vertical-align:middle" type="submit"><span>Отправить </span></button> <br />
                            <a href="/">На главную</a>
                        </center>
					</form>
				</div>
			</div>
		</div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>