<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Ошибка 404</title>

	<link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="{% static 'ErrorPage/font-awesome.min.css' %}"/>

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'ErrorPage/style.css' %}" />
</head>

<body>

	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! Page Not Found</h2>
			<a href="/">Back To Homepage</a>
		</div>
	</div>

</body>
</html>
