{% load staticfiles %}
{% block scripts %}

<script src="{% static 'frontPage/js/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'frontPage/js/popper.min.js' %}"></script>
<script src="{% static 'frontPage/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'frontPage/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'frontPage/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'frontPage/js/sidebarmenu.js' %}"></script>
<!--stickey kit -->
<script src="{% static 'frontPage/js/sticky-kit.min.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'frontPage/js/custom.min.js' %}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!--sparkline JavaScript -->
<script src="{% static 'frontPage/js/jquery.sparkline.min.js' %}"></script>
<!--morris JavaScript -->
<script src="{% static 'frontPage/js/raphael-min.js' %}"></script>
<script src="{% static 'frontPage/js/morris.min.js' %}"></script>
<!-- Chart JS -->
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{% static 'frontPage/js/jQuery.style.switcher.js' %}"></script>
<script src = "{% static 'frontPage/js/fullcalendar.js' %}"></script>
{% endblock %}