{% load staticfiles %}
{% block topbar %}

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/account">
                    <b>
                        <img src="{% static 'frontPage/images/logo-icon.png' %}" alt="homepage" class="dark-logo"/>
                        <img src="{% static 'frontPage/images/logo-light-icon.png' %}" alt="homepage" class="light-logo"/>

                    </b>
                    <span>
                        <img src="{% static 'frontPage/images/logo-text.png' %}" alt="homepage" class="dark-logo"/>
                        <img src="{% static 'frontPage/images/logo-light-text.png' %}" alt="homepage" class="light-logo"/>
                    </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
                        <div class="dropdown-menu animated slideInUp">
                            <ul class="mega-dropdown-menu row">
                                <li class="col-lg-3 col-xlg-2 m-b-30">
                                    <h4 class="m-b-20">СВЯЗАТЬСЯ С НАМИ</h4>
                                    <!-- Contact -->
                                    <form method="post" action="/account/feedback/">
                                        {% csrf_token %}
                                        {% for field in feedbackForm %}
                                            <div class="form-group">
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                        <button type="Submit" class="btn btn-info">ОТПРАВИТЬ</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if extUser.ava %}
                                <img src="{{ extUser.ava.url }}" alt="user" class="profile-pic" />
                            {% else %}
                                <img src="{% static 'frontPage/images/1.jpg' %}" alt="user" class="profile-pic" />
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right scale-up">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img">
                                            {% if extUser.ava %}
                                                <img src="{{ extUser.ava.url }}" alt="user" />
                                            {% else %}
                                                <img src="{% static 'frontPage/images/1.jpg' %}" alt="user" />
                                            {% endif %}
                                        </div>
                                        <div class="u-text">
                                            {% if user.name != "" and user.surname != "" %}
                                                <h4>{{user.name}} {{user.surname}}</h4>
                                            {% elif user.name != "" %}
                                                <h4>{{user.name}}</h4>
                                            {% else %}
                                                <h4>Профиль пользователя</h4>
                                            {% endif %}
                                            <p class="text-muted">{{user.mail}}</p>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/account/settings"><i class="ti-settings"></i> Настройки аккаунта</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-power-off"></i> Выйти</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
{% endblock %}