<html lang="en">
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->



     
    	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">


		<!-- Website CSS style -->
		<link href="login_files/bootstrap.css" rel="stylesheet">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="login_files/font-awesome.css">
		<link rel="stylesheet" href="login_files/style.css">
		<!-- Google Fonts -->
		<link href="login_files/css_002.css" rel="stylesheet" type="text/css">
		<link href="login_files/css.css" rel="stylesheet" type="text/css">
			<link rel="stylesheet" href="mail.css" type="text/css"></body></html>

		<title>mail</title>
	

		

	<link rel="stylesheet" href="login_files/reg_002.css" type="text/css">
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
					<div class="image-wrap image-flex" >
  						<img src="images/mail.jpg"  width="60%" >
					</div>
  						
					
				<h3 align="center"> Подтверждение электронной почты </h3>
					<form class="" method="post" action="#">
						
						

						<div class="form-group">
							<h4>Вы получили это письмо, потому что ваш адрес электронной почты был указан при регистрации на сайте предсказания суммы счёта за ЖКУ.</h4> 
<h4>Чтобы подтвердить регистрацию, нажмите на эту кнопку.</h4>
 
<h4>Подтверждение необходимо для исключения несанкционированного использования вашего адреса электронной почты. Для подтверждения достаточно нажать на кнопку, дополнительных действий не требуется. </h4>
							<div class="cols-sm-10">
								
							</div>
						</div>

						
						
						<div class="form-group ">
							<a href="https://deepak646.blogspot.com/" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Да, это моя электронная почта</a>
						</div>
							
						
					</form>
				</div>
			</div>
		</div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="login_files/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="login_files/bootstrap.js"></script>
	


